---
layout: default
robots: noindex
---

<div class="main-post-list">
  <br/>
  <ol class="post-list">
    {% for post in site.posts %}
      {% if post.title != "About" %}
      <div style="height:auto">
        <div style="width:17%;float: left">
          <a href="{{ site.baseurl }}{{ post.url }}"><img src="./images/posts/{{ post.url}}/thumbnail.png" alt="" style="max-width:100%; max-height:100%;" /></a>
        </div>
        <div style="width:80%;float: right">
          <li>
            <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
            <div class="post-list__meta">
                <span class="post-meta__tags" style="font-size:0.8em;">{{ post.where }}</span>
                &#8226; <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}" class="post-list__meta--date date">{{ post.date | date: "%b %Y" }}</time>
                {% if post.tags.size > 0 %}
                &#8226; <span class="post-meta__tags" style="font-size:0.8em;">{% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
                {% endif %}
            </div>
            
          </li>
        </div>
      </div>
      <hr class="post-list__divider">  
      
      {% endif %}
    {% endfor %}
  </ol>

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
